@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    color: #708090;
    background-color: rgb(0, 0, 0);
}

/* headings and logo */

#header {
    background-color: black;
    padding: 30px;
}

h1 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    color: #708090;
}

#logo {
    display: inline-block;
    font-size: 280%;
}

/* navigation links */

#menu {
    font-size: 110%;
}

#menu li {
    display: inline;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #708090;
}

.active {
    border-bottom: 2px solid #708090;
}

/* hero-image */

#hero-image {
    height: 100%;
    max-width: 100%;
    background-size: fill;
    position: center center;
}

/* services table */

#services {
    position: center;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 2px solid #708090;
    background-color: rgb(255, 255, 255);
}

th, td {
    border-spacing: 30px;
}

/* footer */

footer {
    margin-bottom: 50px;
    height: 150px;
}
.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #708090;
}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 2px;
    padding-left: 30px;
    padding-right: 30px;
}

#photos > img {
    padding: 2px;
    width: 100%;
}

/* questionnaire */

#winner {
    padding-left: 30px;
    padding-right: 30px;
    background-image: url('../images/rsz_1pexels-josh-sorenson-995300_tpt1vn.png');
}

/* contact */

#map-wrapper {

height: 300px;
margin-bottom: 100px;
}

#map {
    height: 100%;
    width: 80%;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
}
