@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 300;
    color: #708090;
}

/* headings and logo */

h1 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    color: #708090;
}

#logo {
    float: left;
    font-size: 280%;
}

/* navigation links */

#menu {
    font-size: 110%;
}

#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #708090;
}

.active {
    border-bottom: 2px solid #708090;
}

/* hero image */

#hero-image {
    background:url(https://res.cloudinary.com/dwfsh0lgy/image/upload/c_scale,w_950/v1657715965/Snappy/barber1-pexels-thgusstavo-santana-1813272_utnjhi.jpg);
}